.examples {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.demo {
  height: 350px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  object-fit: cover;
  
  @media (min-width: 600px) {
    height: 290px;
    min-width: 50px;
    margin-left: 8px;
    margin-right: 0;
    margin-bottom: 0;
  }
}