.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.gallery-select {
  display: block;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  min-width: 90vw;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 600px) {
    min-width: 500px;
  }
}